In [148]:
#import pandas
import pandas as pd
#Opening and reading the csv
df = pd.read_csv('number-species-threatened/number-species-threatened.csv')

print(df)

                 Entity  Code  Year  Number of threatened species
0            All groups   NaN  2024                         46337
1     All invertebrates   NaN  2024                          6432
2            All plants   NaN  2024                         28159
3       All vertebrates   NaN  2024                         11400
4            Amphibians   NaN  2024                          2873
5             Arachnids   NaN  2024                           283
6                 Birds   NaN  2024                          1311
7           Brown algae   NaN  2024                             6
8                Corals   NaN  2024                           334
9           Crustaceans   NaN  2024                           748
10     Ferns and allies   NaN  2024                           322
11               Fishes   NaN  2024                          4017
12     Flowering plants   NaN  2024                         27197
13          Green algae   NaN  2024                             0
14          Gymnosperms   NaN  2024                           450
15      Horseshoe Crabs   NaN  2024                             2
16              Insects   NaN  2024                          2423
17              Mammals   NaN  2024                          1354
18             Molluscs   NaN  2024                          2456
19               Mosses   NaN  2024                           181
20            Mushrooms   NaN  2024                           340
21  Other invertebrates   NaN  2024                           177
22            Red algae   NaN  2024                             9
23             Reptiles   NaN  2024                          1845
24          Total fungi   NaN  2024                           346
25         Velvet Worms   NaN  2024                             9

In [150]:
#Cleaning the data and deleting the 'Code NaN' column 
del df['Code']

In [152]:
#Only using df to print out a nicer data table
df

                 Entity  Year  Number of threatened species
0            All groups  2024                         46337
1     All invertebrates  2024                          6432
2            All plants  2024                         28159
3       All vertebrates  2024                         11400
4            Amphibians  2024                          2873
5             Arachnids  2024                           283
6                 Birds  2024                          1311
7           Brown algae  2024                             6
8                Corals  2024                           334
9           Crustaceans  2024                           748
10     Ferns and allies  2024                           322
11               Fishes  2024                          4017
12     Flowering plants  2024                         27197
13          Green algae  2024                             0
14          Gymnosperms  2024                           450
15      Horseshoe Crabs  2024                             2
16              Insects  2024                          2423
17              Mammals  2024                          1354
18             Molluscs  2024                          2456
19               Mosses  2024                           181
20            Mushrooms  2024                           340
21  Other invertebrates  2024                           177
22            Red algae  2024                             9
23             Reptiles  2024                          1845
24          Total fungi  2024                           346
25         Velvet Worms  2024                             9

In [165]:
#Created another dataframe using .drop to exclude the species we won't use. 
#The clean_df prints out the new chart 
clean_df = df.drop([0,1,2,3,4,5,7,13,18,19,16,20,21,22,24,25])
clean_df = clean_df.reset_index(drop = True)

clean_df

             Entity  Year  Number of threatened species
0             Birds  2024                          1311
1            Corals  2024                           334
2       Crustaceans  2024                           748
3  Ferns and allies  2024                           322
4            Fishes  2024                          4017
5  Flowering plants  2024                         27197
6       Gymnosperms  2024                           450
7   Horseshoe Crabs  2024                             2
8           Mammals  2024                          1354
9          Reptiles  2024                          1845

In [167]:
#Created a plants_df only using plant species.
plants_df = clean_df.drop([0,1,2,3,5,8,9,10])
plants_df = plants_df.reset_index(drop = True)

plants_df

KeyError: '[10] not found in axis'

In [169]:
#The terrestrial_df will print only the 
terrestrial_df = clean_df.drop([3,4,5,6,7,8])
terrestrial_df = terrestrial_df.reset_index(drop = True)

terrestrial_df

        Entity  Year  Number of threatened species
0        Birds  2024                          1311
1       Corals  2024                           334
2  Crustaceans  2024                           748
3     Reptiles  2024                          1845

In [171]:
aquatic_df = clean_df.drop([1,4,5,6,7,9,10])
aquatic_df = aquatic_df.reset_index(drop = True)

aquatic_df

KeyError: '[10] not found in axis'

In [162]:
#importing seaborn will allow us to plot our data
import seaborn as sns