In [32]:
#import data and printing out
import pandas as pd

df = pd.read_csv('number-species-threatened/number-species-threatened.csv')

print(df)

                 Entity  Code  Year  Number of threatened species
0            All groups   NaN  2024                         46337
1     All invertebrates   NaN  2024                          6432
2            All plants   NaN  2024                         28159
3       All vertebrates   NaN  2024                         11400
4            Amphibians   NaN  2024                          2873
5             Arachnids   NaN  2024                           283
6                 Birds   NaN  2024                          1311
7           Brown algae   NaN  2024                             6
8                Corals   NaN  2024                           334
9           Crustaceans   NaN  2024                           748
10     Ferns and allies   NaN  2024                           322
11               Fishes   NaN  2024                          4017
12     Flowering plants   NaN  2024                         27197
13          Green algae   NaN  2024                             0
14          Gymnosperms   NaN  2024                           450
15      Horseshoe Crabs   NaN  2024                             2
16              Insects   NaN  2024                          2423
17              Mammals   NaN  2024                          1354
18             Molluscs   NaN  2024                          2456
19               Mosses   NaN  2024                           181
20            Mushrooms   NaN  2024                           340
21  Other invertebrates   NaN  2024                           177
22            Red algae   NaN  2024                             9
23             Reptiles   NaN  2024                          1845
24          Total fungi   NaN  2024                           346
25         Velvet Worms   NaN  2024                             9

In [34]:
del df['Code']

In [36]:
df

                 Entity  Year  Number of threatened species
0            All groups  2024                         46337
1     All invertebrates  2024                          6432
2            All plants  2024                         28159
3       All vertebrates  2024                         11400
4            Amphibians  2024                          2873
5             Arachnids  2024                           283
6                 Birds  2024                          1311
7           Brown algae  2024                             6
8                Corals  2024                           334
9           Crustaceans  2024                           748
10     Ferns and allies  2024                           322
11               Fishes  2024                          4017
12     Flowering plants  2024                         27197
13          Green algae  2024                             0
14          Gymnosperms  2024                           450
15      Horseshoe Crabs  2024                             2
16              Insects  2024                          2423
17              Mammals  2024                          1354
18             Molluscs  2024                          2456
19               Mosses  2024                           181
20            Mushrooms  2024                           340
21  Other invertebrates  2024                           177
22            Red algae  2024                             9
23             Reptiles  2024                          1845
24          Total fungi  2024                           346
25         Velvet Worms  2024                             9

In [38]:
clean_df = df.drop([0,1,2,3])
clean_df = clean_df.reset_index(drop = True)

print(clean_df)

                 Entity  Year  Number of threatened species
0            Amphibians  2024                          2873
1             Arachnids  2024                           283
2                 Birds  2024                          1311
3           Brown algae  2024                             6
4                Corals  2024                           334
5           Crustaceans  2024                           748
6      Ferns and allies  2024                           322
7                Fishes  2024                          4017
8      Flowering plants  2024                         27197
9           Green algae  2024                             0
10          Gymnosperms  2024                           450
11      Horseshoe Crabs  2024                             2
12              Insects  2024                          2423
13              Mammals  2024                          1354
14             Molluscs  2024                          2456
15               Mosses  2024                           181
16            Mushrooms  2024                           340
17  Other invertebrates  2024                           177
18            Red algae  2024                             9
19             Reptiles  2024                          1845
20          Total fungi  2024                           346
21         Velvet Worms  2024                             9

In [40]:
import seaborn as sns